flows.json
[{"id":"24a2334c.a2cd6c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"eb5f52c4.9ac4e","type":"ibmiot in","z":"24a2334c.a2cd6c","authentication":"apiKey","apiKey":"2e6c6878.d899b8","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"1234","applicationId":"","deviceType":"ruchika","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":100,"y":320,"wires":[["112d737b.ccc1dd","73fea42a.41111c"]]},{"id":"f24d07a8.e7f4c8","type":"debug","z":"24a2334c.a2cd6c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":550,"y":320,"wires":[]},{"id":"112d737b.ccc1dd","type":"function","z":"24a2334c.a2cd6c","name":"jason  passing","func":"global.set(\"T\",msg.payload.d.temperature)\nmsg.payload = msg.payload.d.temperature\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":340,"wires":[[]]},{"id":"65727cb9.4f09e4","type":"debug","z":"24a2334c.a2cd6c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":530,"y":440,"wires":[]},{"id":"73fea42a.41111c","type":"function","z":"24a2334c.a2cd6c","name":"jason  passing","func":"global.set(\"H\",msg.payload.d.humidity)\nmsg.payload = msg.payload.d.humidity\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":460,"wires":[[]]},{"id":"b8afe9e6.afec18","type":"watson-conversation-v1","z":"24a2334c.a2cd6c","name":"JNTU CHATBOT","workspaceid":"4f84e619-bc8c-4214-9fda-6de97f6a229c","multiuser":false,"context":true,"empty-payload":false,"default-endpoint":false,"service-endpoint":"https://gateway-lon.watsonplatform.net/assistant/api","timeout":"","optout-learning":false,"x":370,"y":600,"wires":[["f455fb49.c660e8"]]},{"id":"571a9492.b7ce8c","type":"inject","z":"24a2334c.a2cd6c","name":"","topic":"","payload":"will it rain","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":600,"wires":[[]]},{"id":"d4abfa57.bba558","type":"debug","z":"24a2334c.a2cd6c","name":"bot total response","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":620,"y":640,"wires":[]},{"id":"f455fb49.c660e8","type":"function","z":"24a2334c.a2cd6c","name":"","func":"msg.payload=msg.payload.output.text[0]\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":780,"wires":[["404829c.8a42cd8"]]},{"id":"52fb5460.8985bc","type":"inject","z":"24a2334c.a2cd6c","name":"","topic":"","payload":"namaste","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":700,"wires":[[]]},{"id":"4c1b569d.3cf398","type":"debug","z":"24a2334c.a2cd6c","name":"bot respose after josn passing","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":630,"y":680,"wires":[]},{"id":"c1b43ea3.fa41e","type":"ui_form","z":"24a2334c.a2cd6c","name":"","label":"","group":"917c3288.3c492","order":1,"width":0,"height":0,"options":[{"label":"user input ","value":"user_text","type":"text","required":true}],"formValue":{"user_text":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":320,"y":860,"wires":[["6ddac42c.55c56c"]]},{"id":"eac01fad.d6d19","type":"debug","z":"24a2334c.a2cd6c","name":"form output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":190,"y":960,"wires":[]},{"id":"6ddac42c.55c56c","type":"function","z":"24a2334c.a2cd6c","name":"form json passing","func":"msg.payload=msg.payload.user_text\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":960,"wires":[["a28c06f0.1e6d28","b8afe9e6.afec18"]]},{"id":"a28c06f0.1e6d28","type":"ui_text","z":"24a2334c.a2cd6c","group":"917c3288.3c492","order":1,"width":0,"height":0,"name":"user input","label":"user_input:","format":"{{msg.payload}}","layout":"row-left","x":720,"y":960,"wires":[]},{"id":"fb2f5e0e.8244f","type":"ui_text","z":"24a2334c.a2cd6c","group":"917c3288.3c492","order":2,"width":0,"height":0,"name":"BOT RESPONSE","label":"bot_response:","format":"{{msg.payload}}","layout":"row-left","x":970,"y":1140,"wires":[]},{"id":"404829c.8a42cd8","type":"switch","z":"24a2334c.a2cd6c","name":"bot related switch","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"temperature","vt":"str"},{"t":"eq","v":"humidity","vt":"str"},{"t":"eq","v":"weather","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":4,"x":370,"y":1060,"wires":[["ab3e9936.6d6d18"],["15892ec9.6103c1"],["d48201d1.a875e"],["fb2f5e0e.8244f"]]},{"id":"ab3e9936.6d6d18","type":"function","z":"24a2334c.a2cd6c","name":"temperature","func":"msg.payload=\"today's temperature is \"+global.get(\"T\")\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":1060,"wires":[["fb2f5e0e.8244f"]]},{"id":"15892ec9.6103c1","type":"function","z":"24a2334c.a2cd6c","name":"humidity","func":"msg.payload=\"today's humidity is \"+global.get(\"H\")\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":1140,"wires":[["fb2f5e0e.8244f"]]},{"id":"d48201d1.a875e","type":"function","z":"24a2334c.a2cd6c","name":"weather","func":"msg.payload=\"today's temperature is  \"+global.get(\"T\")+\" and today's humidity is \"+global.get(\"H\")\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":1240,"wires":[["fb2f5e0e.8244f"]]},{"id":"e8932146.ddd5e","type":"http in","z":"24a2334c.a2cd6c","name":"weather request","url":"/weather","method":"get","upload":false,"swaggerDoc":"","x":100,"y":1400,"wires":[["2317d42f.edc9fc"]]},{"id":"2e4a4334.1f43cc","type":"http response","z":"24a2334c.a2cd6c","name":"","statusCode":"","headers":{},"x":630,"y":1400,"wires":[]},{"id":"2317d42f.edc9fc","type":"function","z":"24a2334c.a2cd6c","name":"weather response","func":"msg.payload = {\"temperature1\":global.get(\"T\"),\"humidity1\":global.get(\"H\")}\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":1420,"wires":[["2e4a4334.1f43cc"]]},{"id":"ef01d211.152fd","type":"ui_gauge","z":"24a2334c.a2cd6c","name":"","group":"","order":0,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":540,"y":380,"wires":[]},{"id":"466c3df.9bf38c4","type":"ui_gauge","z":"24a2334c.a2cd6c","name":"","order":0,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00B500","#E6E600","#CA3838"],"seg1":"","seg2":"","x":540,"y":520,"wires":[]},{"id":"2e6c6878.d899b8","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"dno83a.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"917c3288.3c492","type":"ui_group","z":"","name":"WATHER BOT","tab":"e9bf05bf.56f2f8","disp":true,"width":"6","collapse":false},{"id":"e9bf05bf.56f2f8","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]